body{
    background-color:black
}

#menu {
    width: 100%;
    height: 60px;
    background-color: rgb(221, 53, 10);
    display: inline-flex; 
    justify-content: space-between;
}
#menu img{
    height: 60px;
}

.LinkMenu{
    color: rgb(179, 5, 14);
    font-size: 2em;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
}
.parte1 {
    width: 100%;
    height: 800px;
    text-align: center;
}
.parte1 {
    height: 500px;
}
